<form method="post" action="{{ path('app_backoffice_user_deleteUsers', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-sm btn-outline-danger mx-3 mt-3">Supprimer</button>
</form>