{% extends 'base.html.twig' %}

{% block title %}Modifier une partie{% endblock %}

{% block body %}
    <h1 class="mt-3 mx-3">Modifier la partie</h1>

    {{ include('backoffice/game/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('backoffice/game/_delete_form.html.twig') }}

{% endblock %}