<nav class="col-lg-9 offset-lg-3">
    <ul class="pagination justify-content-start pagination-sm pagination-square">
        <li class="page-item">
            {{ knp_pagination_render(pagination) }}
        </li>
    </ul>
</nav>