<form method="post" action="{{ path('app_backoffice_character_deleteCharacters', {'id': character.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce personnage ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ character.id) }}">
    <button class="btn btn-sm btn-danger"><i class="bi bi-trash "></i></button>
</form>