{# ! Method not optimized but a good template base #}
{# {% extends 'base.html.twig' %}

{% block title %}Modification de {{ character.name }}{% endblock %}

{% block body %}
    <h1 class="mt-3 mx-3">Modifier la fiche de {{ character.name }}</h1>

    {{ include('backoffice/character/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %} #}
